@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.frontPageFormat {
  font-size: 2rem; /* Makes the text large */
  font-weight: Normal; /* Optional: makes the text bold */
  text-align: center; /* Centers the text */
  margin-top: 8px; /* Adds some spacing above */
}

.frontPageTimeTemp {
  font-size: 25px; /* Makes the text large */
  font-weight: Normal; /* Optional: makes the text bold */
  text-align: center; /* Centers the text */
  margin-top: 8px; /* Adds some spacing above */
}

.fontCIDParagraph {
  font-size: 20px; /* Makes the text large */
  font-weight: Normal; /* Optional: makes the text bold */
  text-align: center; /* Centers the text */
  margin-top: 8px; /* Adds some spacing above */
}

.fontCIDTitle {
  font-size: 35px; /* Makes the text large */
  font-weight: Bold; /* Optional: makes the text bold */
  text-align: center; /* Centers the text */
  margin-top: 8px; /* Adds some spacing above */
}